body,
html {
    height: 100%;
}

.main {
    display: grid;
    grid-template:
        "nav" 60px
        "container" auto;
    height: 100%;
}

.nav {
    grid-area: nav;
}

.navbar-brand {
    font-size: x-large;
}

.container {
    grid-area: container;
}