/*------------ general ------------*/
/* fixing needed to load from server */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

/*------------ 100% percent for containing elements ------------*/
html,
body {
	width: 100%;
	height: 100%;
}

/*------------ dear leo, no colors in the html ------------*/
body {
    background-color: #a4b0be;
}

/*------------ top bar ------------*/
.top-navbar {
	width: 100%;
	height: 10%;
	display: flex;
    align-items: center;
	justify-content: space-between;
	background-color: #2f3542;

}

.top-navbar > a {
	margin-left: 20px;
	text-align: center;
	font-weight: 500;
	font-size: 48px;
	line-height: 1.5em;
	text-decoration: none;
	color: #ffffff;
}

/*------------ idk aber die transition is eher kacke ------------*/
.logout-button {
	padding: 1.3em 2.7em;
	margin-right: 20px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

/*------------ effekte kinda nice ------------*/

.logout-button:hover {
	background-color: #23c483;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}

.logout-button:active {
	transform: translateY(-1px);
}

/*------------ main part of page ------------*/
.main-container {
	width: 100%;
	height: 90%;
	display: flex;
    justify-content: center;
    align-items: center;
}

/*------------ left sidebar ------------*/
.left-sidebar {
    width: 15%;
    min-width: 210px;
	height: 100%;
	background-color: #747d8c;
}

.rolelist-div {
	overflow: auto;
	width: 100%;
	height: 800px;
}

.role {
	font-size: x-large;
	cursor: context-menu;
	-webkit-user-select: none;
	/* Safari 3.1+ */
	-moz-user-select: none;
	/* Firefox 2+ */
	-ms-user-select: none;
	/* IE 10+ */
	user-select: none;
}

/*------------ input mask ------------*/
.input-mask {
	height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.account-name {
	color: #ffffff;
	font-size: 32px;
    display: flex;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.default-input {
	width: 30%;
    min-width: 300px;
    max-width: 500px;
	font-weight: 500;
	font-size: 32px;
    padding: 10px 20px;
	margin: 25px 25px;
	border: none;
    outline: none;
	border-radius: 50px;
	color: #2f3542;
}

.view-button {
    max-width: 1130px;
    width: calc(60% + 80px + 50px);
	font-weight: 500;
	font-size: 32px;
	text-decoration: none;
    padding: 10px 20px;
	margin: 25px 25px;
	border: none;
	background: #5352ed;
	color: #ffffff;
	border-radius: 50px;
}

.view-button:hover {
	background: #3742fa;
	transition: 0.3s;
    cursor: pointer;
}

/*------------ for login.html ------------*/
.loginwin {
	background-color: #a4b0be;
	margin: auto;
	margin-top: 100px;
	width: 50%;
	height: 630px;
	border: none;
	border-radius: 50px;
}

.loginimg {
	margin: 24px;
	width: 30%;
	border-radius: 50%;
}

.logininput {
	width: 50%;

	text-align: left;
	font-weight: 500;
	font-size: 24px;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 5px;
	margin-bottom: 5px;

	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #ffffff;
	color: #2f3542;
	border-radius: 50px;
}

.loginbutton {
	width: 50%;

	text-align: left;
	font-weight: 500;
	font-size: 24px;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 25px;
	margin-bottom: 5px;

	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #ffffff;
	background-color: #7bed9f;
	border-radius: 50px;
}

.loginbutton:hover {
	color: #ffffff;
	background-color: #2ed573;
	transition: 0.2s;
}

.loginlabel {
	text-align: left;
	font-weight: 500;
	font-size: 20px;
	padding: 20px;
	color: #2f3542;
}

.logincontainer {
	text-align: center;
	justify-content: center;
}

.logindiv {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.error {
	margin-top: 5px;
	color: red;
	font-weight: bold;
	font-size: x-large;
}